@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #212517;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



*::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #1E3023;        /* color of the tracking area */
}


*::-webkit-scrollbar-thumb {
  background-color: #5a6d4f;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #1E3023;  /* creates padding around scroll thumb */
}
*::-webkit-scrollbar-thumb:hover {
    background: #7c966d;
  }

